.main {
  display: flex;
  flex-direction: column;
  height: 32.5rem;
  margin-top: 7rem;
  align-items: center;
}

/* #main-intro {
  margin-top: 7rem;
} */

.main img {
  text-align: center;
  border-radius: 50%;
  width: 15rem;
}

.intro-content {
  text-align: center;
  z-index: 1000;
}

.intro-content h1 {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Advent Pro", sans-serif; */
  font-weight: 100;
  font-size: 2.8rem;
  letter-spacing: 0px;
  padding: 0 1rem;
}

.intro-content h4 {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0 2rem;
  font-family: "Paytone One", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  text-align: center;
}

.section h2 {
  letter-spacing: 1.5px;
  display: inline;
  width: fit-content;
  border-bottom: 3px solid rgb(104, 104, 104);
  padding: 0 1.5rem 0.5rem 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.section p {
  text-align: left;
  padding: 0 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.skill-icon {
  display: inline;
  font-size: 6rem;
}

.skill-icon-sm {
  display: inline;
  font-size: 5rem;
  margin: 0.5rem 0;
}

.work {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.work h2 {
  flex-basis: 55%;
  margin: 0 20% 3rem 20%;
}

.work div {
  /* border: 1px solid rgba(0, 0, 0, 0.103); */
  /* padding: 2rem; */
  flex-basis: 100%;
  height: fit-content;
  width: fit-content;
  margin: 0 0 4rem 0;
  align-items: center;
  justify-content: center;
}
/* 
.work div:hover {
  cursor: pointer;
} */

.work h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.work .joy {
  padding: 0 30%;
  font-family: "Plaster", cursive;
}

.work h4 {
  text-align: center;
  font-size: 0.65rem;
  font-weight: 400;
}

.work-img {
  width: 80%;
  height: auto;
  margin-left: auto;
  border-radius: 0.4rem;
}

.work-img-mobile {
  width: 40%;
  height: auto;
  margin: 0;
  border-radius: 0.4rem;
}

.contact h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
}

.contact i {
  font-size: 1.8rem;
  color: black;
  transition: 100ms;
}

.contact i:hover {
  transform: scale(1.3);
  color: rgba(0, 0, 0, 0.698);
}

@media only screen and (min-width: 400px) {
  .section h2 {
    font-size: 1.8rem;
  }

  .work h4 {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 576px) {
  .main {
    height: 29rem;
  }
  .work h2 {
    flex-basis: 39%;
  }
}

@media only screen and (min-width: 768px) {
  .work div {
    flex-basis: 40%;
  }
  .work-img {
    width: 80%;
    transition: 200ms;
  }

  .work-img-mobile {
    transition: 200ms;
  }

  .work-img-mobile:hover {
    width: 42%;
  }

  .work-img:hover {
    width: 83%;
  }

  .main {
    height: 24rem;
  }
}
